#part4 h2 {
  cursor: pointer;
  background-color: yellowgreen;
}

#part4 p {
  background-color: yellowgreen;
  padding: 30px;
}

a.align-right {
  float: right;
}

.align-left {
  float: left;
}

img#img-dish {
  width: 200px;
  height: 155px;
}

#part1 > div {
  display: flex;
}
