div#dish-chooser > div {
  display: inline-block;
  vertical-align: top;
}

#part4 p,
#part4 h2 {
  background-color: #e5eecc;
  border: 1px solid #c3c3c3;
}

#part4 h2 {
  padding: 5px;
  cursor: pointer;
}

#part4 p {
  padding: 50px;
}

img#img-dish {
  width: 200px;
  height: 155px;
}

footer p {
  width: 50%;
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
